<div class="margbig container prog">
        <div class="row d-flex align-items-center">
          <!-- left column -->
          <div class="col-lg-4 col-xl-5 mb-4 mb-lg-0 mx-auto px-3 px-md-0 fade-up" appScrollAnimation animationStartHeight="0.8" animationClass="fade-in">
            <div class="display-2 text-lowercase title row">
              <div class="mb-3 opacity-75">/*</div>
              <span class="mb-3 ms-3">Work Experiences</span>
              <div class="mb-4 opacity-75">*/</div>
            </div>
            <h5 class="fw-normal mx-3">
              My past positions, along with the skillsets I gained during these amazing opportunities. <br> <br>
              Tap on each timestamp to learn more!
            </h5>
          </div>
          <!-- right column -->
          <div class="col-lg-8 col-xl-7 h-100">
            <div class="tree-wrapper h-100">
              <div *ngFor="let experience of experiences; index as i"
              [ngClass]="showingExperience == experience ? 'tree-item fade-up selected' : 'tree-item fade-up'"
                 appScrollAnimation [animationDelay]="0.3 + i * 0.05 + 's'" animationStartHeight="1" animationClass="fade-in"
              (click)="selectExperience(experience)">
                <div class="content">
                    <div class="background"></div>
                    <div class="row d-flex justify-content-between">
                      <div class="col-md-auto col-12">
                        <h5 class="title">{{ experience.role }}</h5>
                        <h6 class="subtitle"> {{ experience.company }} </h6>
                      </div>
                      <p class="date col-md-auto col-12"> {{ experience.dateFrom }} - {{ experience.dateTo }} </p>
                    </div>
                    <div *ngFor="let skill of experience.skills" class="skill-pill">
                      {{ skill }}
                    </div>

                    <div [ngClass]="showingExperience == experience ? 'desc show' : 'desc'">
                      <div *ngFor="let desc of descriptions">
                        <p>{{ desc }}</p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
