<div class="margbig container prog">
  <div class="row d-flex align-items-center">
    <div class="col-lg-4 col-xl-5 mb-4 mb-lg-0 mx-auto px-3 px-md-0">
      <div class="display-2 text-lowercase title row fade-up" appScrollAnimation animationStartHeight="0.8"
           animationClass="fade-in">
        <div class="mb-3 opacity-75">/*</div>
        <span class="mb-3 ms-3">Programming Projects</span>
        <div class="mb-4 opacity-75">*/</div>
      </div>
      <h5 class="fade-up fw-normal mx-3" appScrollAnimation animationDelay="0.1s" animationStartHeight="0.9"
          animationClass="fade-in">
        Here are a few notable projects I have worked on, for educational purposes and entertainment purposes. Hover (desktop only for now) on each section for an image snippet, click on
        the projects so see more!
      </h5>
      <div class="fade-up" appScrollAnimation animationDelay="0.3s" animationStartHeight="0.9" animationClass="fade-in">
        <a type="button" href="https://github.com/jnnguyen12/" target="_blank"
           class="btn outline big-btn mx-2 mt-4">My Github</a>
      </div>
    </div>
    <div class="col-lg-8 col-xl-7 h-100">
      <div class="tree-wrapper h-100">
        <div *ngFor="let project of projects; index as i"
             [ngClass]="(showingProject == project ? 'tree-item fade-up selected' : 'tree-item fade-up') +
                        (imageLoaded ? '' : 'spinning-cursor')"
             appScrollAnimation [animationDelay]="0.5 + i * 0.1 + 's'" animationStartHeight="1" animationClass="fade-in"
             (click)="selectProject(project)"
             (mousemove)="recordMousePos(project, $event)"
             (mouseleave)="showImage = false">
          <div class="content">
            <div class="background"></div>
            <div class="d-flex justify-content-between row">
              <div class="col-md-auto col-12">
                <h5 class="title mb-0">{{ project.name }}</h5>
                <h6 class="subtitle"> {{ project.place }} </h6>
              </div>
              <p class="date col-md-auto col-12"> {{ project.date }} </p>
            </div>

            <div *ngFor="let skill of project.skills" class="skill-pill">
              {{ skill }}
            </div>

            <div [ngClass]="showingProject == project ? 'desc show' : 'desc'">
              <p class="mb-3">{{ project.desc }}</p>

              <div class="d-flex justify-content-end">
                <a *ngFor="let button of project.buttonList" type="button"
                   [href]="button.link" target="_blank" class="btn pill-btn">
                  {{ button.type }}
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div [ngClass]="showImage && imageLoaded ? '' : 'opacity-0'"
         class="hover-img"
        [style.left.px]="mouseX"
        [style.top.px]="mouseY">
    <img [src]="currentImage"
         id="hovering-image"
        (load)="onImageLoad()"/>
  </div>
</div>
