<div class="wrapper h-100">
    <div *ngFor="let project of projects" class="project-item">
        <div class="content" (click)="selectProject(project)">
            <div class="background"></div>
            <h5 class="title mb-1">{{ project.name }}</h5>
            <h6 class="text-muted mb-1"> {{ project.date }} </h6>
            <h6 class="mb-0"> {{ project.place }} </h6>

            <div [ngClass]="showingProject == project ? 'desc show' : 'desc'">
                {{ project. desc }}
            </div>
        </div>
    </div>
</div>