<div class="wrapper h-100">
    <div *ngFor="let project of projects" [ngClass]="showingProject == project ? 'project-item selected' : 'project-item'" (click)="selectProject(project)">
        <div class="content">
            <div class="background"></div>
            <h5 class="title mb-1">{{ project.name }}</h5>
            <h6 class="text-muted mb-1 fw-bold"> {{ project.date }} </h6>
            <h6 class="mb-0 fw-bold"> {{ project.place }} </h6>

            <div [ngClass]="showingProject == project ? 'desc show' : 'desc'">
                <p>{{ project. desc }}</p>

                <a *ngFor="let button of project.buttonList" type="button" [href]="button.link" target="_blank" class="btn pill-btn">
                    {{ button.type }}
                </a>
            </div>
        </div>
    </div>
</div>