@import '../../variables.scss';

.prof {
}

.donut {
    border-radius: 20px;
    background: url('../../assets/img/donut2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    width: 450px;
}

.button-tab {
    cursor: pointer;
    padding: 0.8em 1.7em;
    background: linear-gradient($charcoal, $charcoal) no-repeat;
    background-position: left bottom;
    background-size: 0%;
    border-radius: $radius;
    border: 3px solid rgba($slate, 0.5);
    margin-bottom: 18px;
    width: fit-content;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-left: 30px;
    transition: all 0.4s, border-radius 0.4s;

    &.selected {
        background-size: 100%;
        color: $background !important;
        margin-left: 0;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        background: linear-gradient($slate, $slate) no-repeat;
        border-color: $slate;

        & > * {
            color: $popsicle !important;
        }
    }

    fa-icon {
        color: rgba($slate, 0.5);
        margin-right: 10px;
        transition: all 0.3s ease;
    }

    &:hover:not(.selected) {
        background-size: 100%;
        color: $background !important;
        border-color: $charcoal;
        // @extend .neo-small;

        & > * {
            color: $chopstick !important;
        }
    }
}

h6 {
    margin-left: 30px;
    text-decoration: underline;
    cursor: pointer;
} 

.pill {
    padding: 10px 20px;
    background-color: $slate;
    border-radius: $radius;
    display: inline-flex;
    color: $background;
    width: fit-content;
    margin-bottom: 10px;

    &:has(~ .pill) {
        margin-right: 10px;
    }
}

/* ipad vertical and mobile */
@media (max-width: 969px) {
    .button-tab {
        padding: 0.5em 1em;
        margin-bottom: 10px;
        margin-left: 0px;
        text-align: center;
        width: 80%;
        transition: width 0.3s ease-out;

        &.selected {
            width: 90%;
            border-radius: 15px;
        }
    }
}