/* You can add global styles to this file, and also import other style files */
/*
colors
*/
$tan: #D6C4AE;
$rose: #CE7777;
$slate: #151E2E;
$blue: #76b4cd;
$ocean: #6096B4;
$dark-blue: #2B3A55;
$light-teal: #93BFCF;
$teal: #205375;
// $moss: #497174;
$moss: #c2ad7f;

$snow: #faf7f7;
$warm-snow: #f6f2f2;
$wet-snow: #EEEEF0;
$wall: #E5EAEE;
$concrete: #5c778d;
$alice-blue: #D3E2EA;
$light-blue: #AFD3E2;
$sky: #7CC8DE;
$cyan: #19A7CE;
$air-blue: #55a5c8;
$cerulean: #146C94;

$sand: #F6A762;
$pollen: #dfa9a9;
$clay: #684343;
$dark-clay: #3e2828;
$red: #A73121;
$brick: #a14e43;

body {
    font-family: 'Roboto Slab', sans-serif;
    background-color: $snow;
    color: $slate !important;
    overflow-x: hidden;
}

@mixin color($color) {
    color: $color;
}

@mixin bg($bg) {
    background-color: $bg;
}


.padbig {
   min-height: 90vh;
   display: flex;
   align-items: center;
   padding-top: 15vh;
   padding-bottom: 15vh;
}
.padsmall {
   min-height: 70vh;
   display: flex;
   align-items: center;
   padding-top: 10vh;
   padding-bottom: 10vh;
}

h1 {
    font-weight: 500 !important;
}

.title {
    font-family: 'Playfair Display', serif;
    line-height: 0.9;
    padding-bottom: 1rem;
    color: $pollen;
}

.jumbo {
    padding-top: 350px;
    padding-bottom: 350px;
    line-height: 1;
}

svg {
    z-index: -1;
}

.about {
    background-color: transparent;
    border: 3px solid rgba($slate, 0.6);
    // box-shadow: -10px 10px 10px rgba($dark-blue, 0.5);
    padding: 3em;
}
    @media (max-width: 480px)
    {
        .about {
            padding: 2em;
        }
    }

.me {
    position: relative;
    /* width: 400px; */
    height: 500px;
    overflow: hidden;

    .cover {
        @include bg($warm-snow);
        background-image: url("../assets/stick.png");
        background-repeat: no-repeat;
        position: absolute;
        top: -90px;
        left: -90px;
        right: 0px;
        bottom: 0px;
    }

    img {
        position: absolute;
        top: 55px;
        left: -15px;
        right: 0px;
        bottom: 0px;
        margin: auto;
        height: 130%;
        opacity: 0;
        transition: all ease 0.4s;
    }

    .cover:hover img, .me .cover:active img, .me .cover:focus img {
        opacity: 1;
    }
}

.skill-branch::before {
    content: ' ';
    position: absolute;
    left: 0px;
    background: rgba($slate, 0.6);
    height: 100%;
    width: 3px;
}

.skill-card {
    border-radius: 0px;
    margin: 15px;
    border: none;
    border-bottom: 3px solid rgba($slate, 0.6);
    background-color: rgba(white, 0);

    .card-title {
        color: $dark-clay;
    }
}

$badge-color: $blue;
.badge {
    --bs-badge-font-size: 1em;
    --bs-badge-padding-y: 1em;
    --bs-badge-padding-x: 1em;
}

.btn {
    --bs-btn-border-radius: 30px;
    padding: 13px 25px;
    --bs-border-width: 2px;
}

.btn-blue {
    --bs-btn-font-weight: 600;
    --bs-btn-color: white;
    --bs-btn-bg: $teal;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: $teal;
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: $teal;
    --bs-btn-focus-shadow-rgb: transparent;
    --bs-btn-active-color:  #{shade-color($teal, 20%)};
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: #{shade-color($teal, 20%)};
  
}


.snow {
    @include color($snow);
}
.rose {
    @include color($rose);
}
.sand {
    @include color($sand);
}
.pollen {
    @include color($pollen);
}
.red {
    @include color($red);
}
.brick {
    @include color($brick);
}
.ocean {
    @include color($ocean);
}
.light-blue {
    @include color($light-blue);
}
.air-blue {
    @include color($air-blue);
}
.sky {
    @include color($sky);
}
.cyan {
    @include color($cyan);
}
.cerulean {
    @include color($cerulean);
}
.blue {
    @include color($blue);
}
.dark-blue {
    @include color($dark-blue);
}
.teal {
    @include color($teal);
}
.dark-clay {
    @include color($dark-clay);
}

.bg-wall {
    @include bg($wall);
}
.bg-tan {
    @include bg($tan);
}
.bg-pollen {
    @include bg($pollen);
}
.bg-light-blue {
    @include bg($light-blue);
}
.bg-dark-blue {
    @include bg($dark-blue);
}
.bg-blue {
    @include bg($blue);
}
.bg-rose {
    @include bg($rose);
}
.bg-teal {
    @include bg($teal);
}
.bg-light-teal {
    @include bg($light-teal);
}
.bg-clay {
    @include bg($clay);
}
.bg-concrete {
    @include bg($concrete);
}
.bg-warm-snow {
    @include bg($warm-snow);
}
.bg-wet-snow {
    @include bg($wet-snow);
}

/*
laptop screens
*/
@media (max-width: 1200px) {
    .cover {
        left: -105px !important;
    }
}

/*
Ipad horizontals
*/
@media (max-width: 1024px) {

}

/*
mobile
*/
@media (max-width: 480px) {
    .cover {
        top: -70px !important;
        left: -50px !important;
    }
}