/* You can add global styles to this file, and also import other style files */
/*
colors
*/
@import '../variables.scss';

@mixin color($color) {
    color: $color;
}

@mixin bg($bg) {
    background-color: $bg;
}


.jumbo {
    padding-top: 350px;
    padding-bottom: 350px;
    line-height: 1;
}

svg {
    z-index: -1;
}

.svg-inline--fa {
    height: 1.2em !important;
}


.marquee {
    position: relative;
    width: 270px;
    height: 1em;
    display: inline-block;
    // overflow: hidden;
    div {
        position: absolute;
        top: 1px;
        // transform: translateY(-50%);
        // left: 0;
        // right: 0;
        bottom: 0;
        animation: marquee inifnite alternate slidein;
    }
}

@keyframes marquee {
    0% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(-50%);
    }
}

/**
* sections
**/
.float-nav {
    position: fixed;
    z-index: 9999;
    left: 0px; right: 0px;
    background-color: transparent;
    transition: top 0.3s ease;
    backdrop-filter: blur(30px);

    .item {
        cursor: pointer;
        margin: 25px 20px 0 20px;
        background-color: transparent;
        transition: all 0.2s ease;
        color: $light-slate;
        font-weight: 500;
        font-size: 18px;

        p {
            transition: all 0.2s ease;
        }

        hr {
            border: 1px solid transparent;
            width: 0%;
            margin: 20px 0 0 0;
            margin-left: auto;
            margin-right: auto;
            border-radius: $round;
            transition: all 0.2s ease;
        }

        &:hover {
            color: $peach;

            p {
                transform: translateY(-3px);
            }

            hr {
                border: 1px solid $peach;
                width: 100%;
            }
        }
    }

    .last-item {
        color: $peach;
        
        hr {
            color: $peach;
        }

        &:hover {
            color: $popsicle;

            hr {
                border: 1px solid $popsicle;
                width: 100%;
            }
        }
    }
}

.disclaimer {
    margin-top: 75px;
}

.intro {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.me {
    position: relative;
    height: 500px;
    border-radius: $round;
    overflow: hidden;
    // border: 3px solid $chopstick;

    .cover {
        @include bg($background);
        background-image: url("../assets/stick.png");
        background-repeat: no-repeat;
        position: absolute;
        top: -90px;
        left: -80px;
        right: 0px;
        bottom: 0px;
    }

    img {
        position: absolute;
        top: 55px;
        left: -10px;
        right: 0px;
        bottom: 0px;
        margin: auto;
        height: 130%;
        opacity: 0;
        transition: all ease 0.4s;
    }

    .cover:hover img, .me .cover:active img, .me .cover:focus img {
        opacity: 1;
    }
}

.prog, .prof {
    display: flex;
    flex-direction: column;
    .title {
        display: flex;
        align-items: center;
        width: 100%;
    }
}

@media (max-width: 969px) {
    body {
        scroll-snap-type: y proximity;
    }
    
    .float-nav {
        top: 10px;
        // border-radius: 0;
        width: 400px;
        padding: 8px 15px;
        max-width: 90%;
        left: 0; right: 0;
        margin: auto;
        flex-direction: row;
        justify-content: space-around;

        .float-icons:has(~ .float-icons) {
            margin-bottom: 0px;
            // margin-right: 10px;
        }

    }
}
