/* You can add global styles to this file, and also import other style files */
/*
colors
*/
@import '../variables.scss';

@mixin color($color) {
    color: $color;
}

@mixin bg($bg) {
    background-color: $bg;
}


.jumbo {
    padding-top: 350px;
    padding-bottom: 350px;
    line-height: 1;
}

svg {
    z-index: -1;
}

// fa-icon.social {
//     color: $teal;
//     transition: all 0.2s;
//     background: linear-gradient(to top, transparent, $air-blue) no-repeat;
//     background-size: 100% 2px;
//     background-position: left bottom;
//     padding: 5px;
//     padding-bottom: 0px;
//     margin-bottom: 5px;
//     display: block;
//     margin-right: 0.5em;
// }

// fa-icon.chevron {
//     color: transparent;
//     // transform: translateX(-0.5em);
//     margin-left: 0.5em;
//     transition: 0.2s;
// }

.svg-inline--fa {
    height: 1.2em !important;
}

// .social-list {
//     margin: 35px auto;
//     padding: 35px;
//     border-radius: 25px;
//     background-color: $warm-snow;
//     li a {
//         display: flex;
//         align-items: center;
//         color: $slate;
//         transition: all 0.2s;
//         width: fit-content;
        
//         &:hover {
//             color: $teal;
//             .social {
//                 border-radius: 10px;
//                 padding: 5px;
//                 margin-bottom: 0px;
//                 background: linear-gradient(to top, $teal, $teal) no-repeat;
//                 background-size: 100% 100%;
//                 color: white;
//                 transform: rotate(10deg) !important;
//             }

//             fa-icon.chevron {
//                 color: $teal;
//                 transform: translateX(1em);
//             }
//         }
//     }

//     li:nth-child(even) a:hover > fa-icon.social {
//         transform: rotate(-10deg) !important;
//     }
// }

// .email {
//     position: relative;
//     width: 56px;
//     display: flex;
//     justify-content: center;

//     div {
//         position: relative;
//         color: $air-blue;
//         margin: 0 auto;
//         z-index: 1;
//     }

//     svg {
//         position: absolute;
//         width: 100%;
//         left: 0;
//         right: 0;
//         z-index: 0;
//         transform: translateY(-25%);
//         transition: all 0.2s ease;
//         path {
//             fill: transparent !important;
//         }
//     }

//     &:hover {
//         div {
//             color: $slate;
//         }
//         svg {
//             transform: rotate(10deg) translateY(-25%);
//             path {
//                 fill: $light-sand !important;
//             }
//         }
//     }
// }

// .download {
//     color: $rose;
//     margin-left: 0.5em;
//     transition: 0.2s;
//     &:hover {
//         color: rgba($rose, 0.6);
//     }
// }

.marquee {
    position: relative;
    width: 270px;
    height: 1em;
    display: inline-block;
    // overflow: hidden;
    div {
        position: absolute;
        top: 1px;
        // transform: translateY(-50%);
        // left: 0;
        // right: 0;
        bottom: 0;
        animation: marquee inifnite alternate slidein;
    }
}

@keyframes marquee {
    0% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(-50%);
    }
}

/**
* sections
**/
.float-nav {
        position: fixed;
        z-index: 9999;
        left: 0px; right: 0px;
        background-color: $background;
        transition: top 0.2s ease;

        .item {
            cursor: pointer;
            margin: 25px 20px;
            border-radius: $round;
            background-color: transparent;
            transition: all 0.2s ease;

            hr {
                border: 1px solid transparent;
                width: 0%;
                margin: 5px 0 0 0;
                margin-left: auto;
                margin-right: auto;
                border-radius: $round;
                transition: all 0.2s ease;
            }

            a {
                color: $light-slate;
                font-family: 'Poppins';
                font-weight: 500;
                transition: all 0.2s ease;
                display: block;
                font-size: 18px;
            }

            &:hover {
                a {
                    color: $peach;
                    transform: translateY(-3px);
                }

                hr {
                    border: 1px solid $peach;
                    width: 100%;
                }
            }
        }

        .last-item {
            a {
                color: $peach;
            }
            
            hr {
                color: $peach;
            }

            &:hover {
                a {
                    color: $popsicle;
                    transform: tranpopsicleY(-3px);
                }

                hr {
                    border: 1px solid $popsicle;
                    width: 100%;
                }
            }
        }
}

.disclaimer {
    margin-top: 75px;
}

// .float-nav {
//     position: fixed;
//     z-index: 9999;
//     top: 30px;
//     left: 20px;
//     padding: 15px 25px;
//     border-radius: $round;
//     width: 50px;
//     background-color: $background;
//     box-shadow: 0px 5px 10px rgba(gray, 0.45);
//     display: flex;
//     flex-direction: column;
//     align-items: center;

//     .float-icons {
//         cursor: pointer;
//         position: relative;
//         padding: 10px 15px;
//         transition: all 0.2s ease;
//         a {
//             color: $slate !important;
//         }

//         .circle {
//             transition: all 0.2s ease;
//             border-radius: 100%;
//             width: 0px; height: 0px;
//             position: absolute;
//             margin: auto;
//             top: 0; left: 0; bottom: 0; right: 0;
//             background-color: $slate;
//         }

//         .ng-fa-icon {
//             position: relative;
//             z-index: 3 !important;
//         }

//         &:hover {
//             a {
//                 color: $background !important;
//             }

//             .circle {
//                 width: 40px; height: 40px;
//                 z-index: 1;
//             }
//         }
//     }

//     .float-icons:has(~ .float-icons) {
//         margin-bottom: 10px;
//     }
// }

.intro {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.about {
    margin-top: 4em;
    background-color: transparent;
    border: 3px solid rgba($slate, 0.6);
    border-radius: 20px;
    padding: 2.5em 3em 2em 3em;
    position: relative;

    h2 {
        position: absolute;
        display: block;
        padding: 0 1em;
        background-color: $background;
        top: -0.5em;
    }
}
    @media (max-width: 480px)
    {
        .about {
            padding: 2em 3em;
        }
    }

.me {
    position: relative;
    height: 500px;
    border-radius: $round;
    overflow: hidden;

    .cover {
        @include bg($background);
        background-image: url("../assets/stick.png");
        background-repeat: no-repeat;
        position: absolute;
        top: -90px;
        left: -80px;
        right: 0px;
        bottom: 0px;
    }

    img {
        position: absolute;
        top: 55px;
        left: -10px;
        right: 0px;
        bottom: 0px;
        margin: auto;
        height: 130%;
        opacity: 0;
        transition: all ease 0.4s;
    }

    .cover:hover img, .me .cover:active img, .me .cover:focus img {
        opacity: 1;
    }
}

.prog, .prof {
    display: flex;
    flex-direction: column;
    .title {
        display: flex;
        align-items: center;
        width: 100%;
    }
}

.skill-branch::before {
    content: ' ';
    position: absolute;
    left: 0px;
    background: rgba($slate, 0.6);
    height: 100%;
    width: 3px;
}

.skill-card {
    border-radius: 0px;
    margin: 15px;
    border: none;
    border-bottom: 3px solid rgba($slate, 0.6);
    background-color: rgba(white, 0);

    .card-title {
        // color: $dark-clay;
    }
}

// $badge-color: $blue;
// .badge {
//     --bs-badge-font-size: 1em;
//     --bs-badge-padding-y: 1em;
//     --bs-badge-padding-x: 1em;
// }


@media (max-width: 969px) {
    body {
        scroll-snap-type: y proximity;
    }

    

    .float-nav {
        top: 10px;
        // border-radius: 0;
        width: 400px;
        padding: 8px 15px;
        max-width: 90%;
        left: 0; right: 0;
        margin: auto;
        flex-direction: row;
        justify-content: space-around;

        .float-icons:has(~ .float-icons) {
            margin-bottom: 0px;
            // margin-right: 10px;
        }

    }
}
