<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- <link rel="stylesheet" href="./styles.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Quicksand:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <title>Joanne Nguyen</title>
  </head>

  <body>
    <!-- nav  -->
    <div class="float-nav" id="nav">
      <div class="container d-flex justify-content-between align-items-center">
        <a href="#home" class="d-flex justify-content-center align-items-center mb-1">
          <img src="assets/rabbit.svg" class="mt-2" />
          <img src="assets/name.svg" class="mt-4 ms-2"/>
        </a>

        <div class="d-flex justify-content-center align-items-center" >
          <a [href]="'#' + link.section" class="item" 
            [ngClass]="{'last-item': last}" *ngFor="let link of navlinks; let last = last">
              <p>{{ link.name }}</p>
              <hr />
          </a>
        </div>
      </div>
    </div>

    <!-- <h5 class="text-center fw-light bg-dark text-light disclaimer">
      This site is still in development :) It is still a little wonky hehe
    </h5> -->
    
    <!--intro-->
    <div class="container-fluid padbig" id="home">
      <div class="col mx-auto">
        <div class="container row intro">
          <div
            class="col-12 col-md-8 mx-auto mx-md-0 mb-3 mb-md-0"
            style="z-index: 1"
          >
            <h4 class="lh-1">Hi! I am</h4>
            <h1 class="display-2 title text-start py-2">Joanne Nguyen</h1>
            <h4 class="">
              I am a
              <!-- <div class="pollen marquee">
                <div>
                  front-end developer
                </div>
              </div> -->
              <span class="popsicle">front-end developer</span>, with a passion
              for problem-solving and an attention to detail.

              <!-- button  -->
              <!-- <a type="button" href="google.com" class="btn big-btn mt-5" href="assets/Joanne_Nguyen_resume.pdf" download>
                My resume
                <fa-icon [icon]="faDownload" class="ms-2" size="lg"></fa-icon>
              </a> -->
            </h4>
          </div>
          <div
            class="col-12 col-lg-3 col-md-4 mx-auto mx-md-0 position-relative"
          >
            <div class="me neo gold-border">
              <div class="cover">
                <img src="assets/me.JPG" alt="joanne :)" />
              </div>
            </div>
          </div>
          <!-- <div class="row d-flex justify-content-center">
          </div> -->
        </div>
      </div>
    </div>

    <!-- about me -->
    <app-about-me id="about"></app-about-me>

    <!--work experiences-->
    <app-work-list id="work"></app-work-list>

    <!-- programming projects -->
    <app-project-list id="programming"></app-project-list>
      
      <!-- art projects -->
    <app-art-list id="artworks"></app-art-list>


    <!--reviews-->

    <!--contact me-->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
