/* You can add global styles to this file, and also import other style files */
/*
colors
*/
$slate: #151E2E;
$background: #DBD8D5;
$snow: #EFF2F9;
$concrete: #7A8290;
// $sand: #F6A762;
$gold: #C6A652;
$pollen: #DFA9A9;
$popsicle: #FF8A00;
$chopstick: #9A3B3B;
$shadow: #BAB8B5;
/*-------------------------*/
$radius: 60px;
$round: 200px;

body {
    font-family: 'Quicksand', sans-serif;
    background-color: $background;
    color: $slate !important;
    overflow-x: hidden;
}

@mixin color($color) {
    color: $color;
}

@mixin bg($bg) {
    background-color: $bg;
}


.padbig {
   display: flex;
   align-items: center;
   padding-top: 20vh;
}
.padsmall {
   min-height: 70vh;
   display: flex;
   align-items: center;
   padding-top: 10vh;
   padding-bottom: 10vh;
}

h1 {
    font-weight: 500 !important;
}

a {
    text-decoration: none;
}

.title {
    font-family: 'Poppins', serif;
    line-height: 0.9;
    padding-bottom: 1rem;
    color: $chopstick; 
    font-weight: 600 !important;
}

.jumbo {
    padding-top: 350px;
    padding-bottom: 350px;
    line-height: 1;
}

svg {
    z-index: -1;
}

// fa-icon.social {
//     color: $teal;
//     transition: all 0.2s;
//     background: linear-gradient(to top, transparent, $air-blue) no-repeat;
//     background-size: 100% 2px;
//     background-position: left bottom;
//     padding: 5px;
//     padding-bottom: 0px;
//     margin-bottom: 5px;
//     display: block;
//     margin-right: 0.5em;
// }

// fa-icon.chevron {
//     color: transparent;
//     // transform: translateX(-0.5em);
//     margin-left: 0.5em;
//     transition: 0.2s;
// }

.svg-inline--fa {
    height: 1.2em !important;
}

// .social-list {
//     margin: 35px auto;
//     padding: 35px;
//     border-radius: 25px;
//     background-color: $warm-snow;
//     li a {
//         display: flex;
//         align-items: center;
//         color: $slate;
//         transition: all 0.2s;
//         width: fit-content;
        
//         &:hover {
//             color: $teal;
//             .social {
//                 border-radius: 10px;
//                 padding: 5px;
//                 margin-bottom: 0px;
//                 background: linear-gradient(to top, $teal, $teal) no-repeat;
//                 background-size: 100% 100%;
//                 color: white;
//                 transform: rotate(10deg) !important;
//             }

//             fa-icon.chevron {
//                 color: $teal;
//                 transform: translateX(1em);
//             }
//         }
//     }

//     li:nth-child(even) a:hover > fa-icon.social {
//         transform: rotate(-10deg) !important;
//     }
// }

// .email {
//     position: relative;
//     width: 56px;
//     display: flex;
//     justify-content: center;

//     div {
//         position: relative;
//         color: $air-blue;
//         margin: 0 auto;
//         z-index: 1;
//     }

//     svg {
//         position: absolute;
//         width: 100%;
//         left: 0;
//         right: 0;
//         z-index: 0;
//         transform: translateY(-25%);
//         transition: all 0.2s ease;
//         path {
//             fill: transparent !important;
//         }
//     }

//     &:hover {
//         div {
//             color: $slate;
//         }
//         svg {
//             transform: rotate(10deg) translateY(-25%);
//             path {
//                 fill: $light-sand !important;
//             }
//         }
//     }
// }

// .download {
//     color: $rose;
//     margin-left: 0.5em;
//     transition: 0.2s;
//     &:hover {
//         color: rgba($rose, 0.6);
//     }
// }

.marquee {
    position: relative;
    width: 270px;
    height: 1em;
    display: inline-block;
    // overflow: hidden;
    div {
        position: absolute;
        top: 1px;
        // transform: translateY(-50%);
        // left: 0;
        // right: 0;
        bottom: 0;
        animation: marquee inifnite alternate slidein;
    }
}

@keyframes marquee {
    0% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(-50%);
    }
}

/**
* sections
**/

.float-nav {
    position: fixed;
    top: 30px;
    left: 20px;
    padding: 15px 25px;
    border-radius: $round;
    width: 50px;
    background-color: $background;
    box-shadow: 0px 5px 10px $shadow;
    display: flex;
    flex-direction: column;
    align-items: center;

    .float-icons {
        cursor: pointer;
        position: relative;
        padding: 10px 15px;
        transition: all 0.2s ease;

        .circle {
            transition: all 0.2s ease;
            border-radius: 100%;
            width: 0px; height: 0px;
            position: absolute;
            margin: auto;
            top: 0; left: 0; bottom: 0; right: 0;
            background-color: $slate;
        }

        .ng-fa-icon {
            position: relative;
            z-index: 3 !important;
        }

        &:hover {
            color: white !important;

            .circle {
                width: 40px; height: 40px;
                z-index: 1;
            }
        }
    }

    .float-icons:has(~ .float-icons) {
        margin-bottom: 10px;
    }
}

.intro {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.about {
    margin-top: 4em;
    background-color: transparent;
    border: 3px solid $concrete;
    border-radius: $radius;
    padding: 3em 4em;
}
    @media (max-width: 480px)
    {
        .about {
            padding: 2em 3em;
        }
    }

.me {
    position: relative;
    height: 500px;
    border-radius: $round;
    overflow: hidden;

    .cover {
        @include bg($background);
        background-image: url("../assets/stick.png");
        background-repeat: no-repeat;
        position: absolute;
        top: -90px;
        left: -80px;
        right: 0px;
        bottom: 0px;
    }

    img {
        position: absolute;
        top: 55px;
        left: -10px;
        right: 0px;
        bottom: 0px;
        margin: auto;
        height: 130%;
        opacity: 0;
        transition: all ease 0.4s;
    }

    .cover:hover img, .me .cover:active img, .me .cover:focus img {
        opacity: 1;
    }
}

.prog {
    display: flex;
    flex-direction: column;
    .title {
        display: flex;

        align-items: center;
        width: 100%;
    }

    .title::after {
        content: "";
        flex-grow: 1;
        margin-left: 1.5rem;
        height: 2px;
        background-color: $gold;
    }

    .carousel {
        width: 100%;
        height: 400px;
    }

    .project-tab {
        border-radius: $round;
        margin: 0 10px;
        height: 100%;
        width: 100%;
        border: 2px solid $gold;
        background-position: center;
        background-size: cover;

        img {
            position: absolute;
        top: 55px;
        left: -10px;
        right: 0px;
        bottom: 0px;
        margin: auto;
        height: 130%;
        transition: all ease 0.4s;
        }
    }

}

.skill-branch::before {
    content: ' ';
    position: absolute;
    left: 0px;
    background: rgba($slate, 0.6);
    height: 100%;
    width: 3px;
}

.skill-card {
    border-radius: 0px;
    margin: 15px;
    border: none;
    border-bottom: 3px solid rgba($slate, 0.6);
    background-color: rgba(white, 0);

    .card-title {
        // color: $dark-clay;
    }
}

// $badge-color: $blue;
// .badge {
//     --bs-badge-font-size: 1em;
//     --bs-badge-padding-y: 1em;
//     --bs-badge-padding-x: 1em;
// }

.btn {
    display: block;
    --bs-btn-border-radius: 30px;
    padding: 8px 15px;
    background-color: $chopstick;
    color: $snow;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    border: 2px solid transparent;
    box-shadow: 0px 2px 2px $shadow;

    &:hover {
        border-color: $chopstick;
        color: $chopstick;
    }
}

/**
* global styles
*/
.neo {
    box-shadow: 20px 20px 60px $shadow, -20px -20px 60px #FCF8F5;
}

.neo-small {

}

.gold-border {
    border: 3px solid $gold;
}

/**
* colors
*/
.popsicle {
    color: $popsicle;
}

/*
laptop screens
*/
@media (max-width: 1200px) {
    .cover {
        left: -105px !important;
    }
}

/*
Ipad horizontals
*/
@media (max-width: 1024px) {

}

/*
mobile
*/
@media (max-width: 480px) {
    .cover {
        top: -70px !important;
        left: -50px !important;
    }
}