<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- <link rel="stylesheet" href="./styles.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Quicksand:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <title>Joanne Nguyen</title>
  </head>

  <body>
    <!-- nav  -->
    <div class="float-nav navbar navbar-expand-lg p-0" id="nav">
      <div class="container d-flex justify-content-between align-items-center">
        <a href="#home" class="d-flex justify-content-center align-items-center mb-1 navbar-brand">
          <img src="assets/rabbit.svg" class="mt-2" />
          <img src="assets/name.svg" class="mt-4 ms-2"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center align-items-center" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item" *ngFor="let link of navlinks; let last = last">
                <a [href]="'#' + link.section" class="item nav-link p-0"
                  [ngClass]="{'last-item': last}" >
                    <p>{{ link.name }}</p>
                    <hr />
                </a>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <!--intro-->
    <div class="container-fluid padbig" id="home">
      <div class="col mx-auto">
        <div class="container row intro">
          <div
            class="col-sm-7 col-md-7 mx-auto mx-md-0 my-3 my-md-0"
            style="z-index: 1"
          >
            <h4 class="fade-up" appScrollAnimation animationClass="fade-in">Hi! I am</h4>
            <h1 class="display-1 title text-start py-2 fade-up" appScrollAnimation animationDelay="0.2s" animationClass="fade-in">
              Joanne Nguyen
            </h1>
            <h4 class="fade-up" appScrollAnimation animationDelay="0.4s" animationClass="fade-in">
              I am a
              <!-- <div class="pollen marquee">
                <div>
                  front-end developer
                </div>
              </div> -->
              <span class="peach">front-end developer</span>, with a passion
              for problem-solving and an attention to detail.

              <!-- button  -->
              <!-- <a type="button" href="google.com" class="btn big-btn mt-5" href="assets/Joanne_Nguyen_resume.pdf" download>
                My resume
                <fa-icon [icon]="faDownload" class="ms-2" size="lg"></fa-icon>
              </a> -->
            </h4>
          </div>
          <div
            class="col-sm-4 col-lg-3 col-md-4 mx-auto mx-md-0 position-relative fade-left" appScrollAnimation animationDelay="0.6s" animationClass="fade-in">
            <div class="me neo">
              <div class="cover">
                <img src="assets/me.JPG" alt="joanne :)" />
              </div>
            </div>
          </div>
          <!-- <div class="row d-flex justify-content-center">
          </div> -->
        </div>
      </div>
    </div>

    <!-- about me -->
    <app-about-me id="about"></app-about-me>

    <!--work experiences-->
    <app-work-list id="work"></app-work-list>

    <!-- art projects -->
  <app-art-list id="artworks"></app-art-list>

    <!-- programming projects -->
    <app-project-list id="programming"></app-project-list>


    <!--reviews-->

    <!--contact me-->
    <div class="padbig padbig-bottom container d-flex justify-content-center flex-column" id="contact">
      <!-- #mail-->
      <a href="mailto:joanne.nguyen.1212@gmail.com" class="col-lg-7 col-sm-10 col-11 fade-up" appScrollAnimation animationDelay="0.5s" animationStartHeight="0.8" animationClass="fade-in">
        <div class="contact-me-btn .btn ">
          <h1 class="display-4 text-center">
            contact me!
          </h1>
        </div>
      </a>

      <div class="d-flex social-section mt-3 col-xl-2 col-md-4 col-sm-5 col-7 justify-content-between">
          <a href="https://github.com/jnnguyen12" class="fade-up" appScrollAnimation animationStartHeight="0.85" animationClass="fade-in">
            <fa-icon [icon]="faGithub" size="lg"></fa-icon>
          </a>
          <a href="https://www.behance.net/joannenguyen2" class="fade-up" appScrollAnimation animationDelay="0.1s" animationStartHeight="0.85" animationClass="fade-in">
            <fa-icon [icon]="faBehance" size="lg"></fa-icon>
          </a>
          <a href="https://www.linkedin.com/in/joannenguyen1212" class="fade-up" appScrollAnimation animationDelay="0.2s" animationStartHeight="0.85" animationClass="fade-in">
            <fa-icon [icon]="faLinkedin" size="lg"></fa-icon>

          </a>
      </div>
    </div>

    <p class="mx-3 mx-md-0 fw-normal float-right peach text-center">♥ Brainstormed, designed, developed, managed, QA'd, and deployed by <strong>Joanne Nguyen</strong>. Hosted by GitHub Pages ♥</p>

    <h5 class="text-center disclaimer">
      This site is still in the works! More coming soon :)
    </h5>


    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
