<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- <link rel="stylesheet" href="./styles.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Quicksand:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <title>Joanne Nguyen</title>
  </head>

  <body>
    <!-- nav  -->
    <div class="float-nav">
      <div class="float-icons" *ngFor="let icon of navlinks">
        <a [href]="'#' + icon.section">
          <div class="circle"></div>
          <fa-icon [icon]=icon.prop size="lg">
          </fa-icon>
        </a>
      </div>
    </div>

    <h5 class="text-center fw-light bg-dark text-light">
      This site is still in development :) It is still a little wonky hehe
    </h5>

    <!--intro-->
    <div class="container-fluid padbig" id="home">
      <div class="col mx-auto">
        <div class="container row intro">
          <div
            class="col-12 col-md-8 mx-auto mx-md-0 mb-3 mb-md-0"
            style="z-index: 1"
          >
            <h4 class="lh-1">Hi! I am</h4>
            <h1 class="display-2 title text-start py-2">Joanne Nguyen</h1>
            <h4 class="">
              I am a
              <!-- <div class="pollen marquee">
                <div>
                  front-end developer
                </div>
              </div> -->
              <span class="popsicle">front-end developer</span>, with a passion
              for problem-solving and an attention to detail.

              <!-- button  -->
              <button type="button" href="google.com" class="btn big-btn mt-5">Contact me</button>
            </h4>
          </div>
          <div
            class="col-12 col-lg-3 col-md-4 mx-auto mx-md-0 position-relative"
          >
            <div class="me neo gold-border">
              <div class="cover">
                <img src="assets/me.JPG" alt="joanne :)" />
              </div>
            </div>
          </div>
        </div>
        <div
          class="container d-flex flex-column justify-content-center mx-auto" id="about">
          <div class="about lh-lg">
            <h2 class="title text-start">About me</h2>
            <p>
              My name is Thu 'Joanne' Nguyen, I am a recent Computer Science grad from Iowa State University. I was an international student, and I am interested in various fields combining art, design, UX/UI and front-end to full-stack programming, from web development to game design.
            </p>
            <p>
              This is my portfolio website, with necessary links lead to my past projects, academic and professional experiences.
            </p>
            <p>
                In my free time, I like to paint, read, and play games. I also like to pick up a million hobbies that I end up never finishing, or cook abominable dishes :)
              </p>
          <!-- </div> -->
        </div>
          <!-- <div class="row d-flex justify-content-center">
          </div> -->
        </div>
      </div>
    </div>

    <!-- programming projects -->
    <app-project-list id="programming"></app-project-list>
      
      <!-- art projects -->
    <app-art-list id="artworks"></app-art-list>

    <!-- profeciencies -->
    <app-prof-list id="profeciencies"></app-prof-list>

    <!--work experiences-->
    <div class="padTB">
      <div></div>
    </div>


    <!--reviews-->

    <!--contact me-->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
