@import './variables.scss';

.tree-wrapper {
    position: relative;
    margin-left: 1em;

    &::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 5px;
        width: 5px;
        background-color: $slate;
        opacity: 0.75;
        height: 100%;
    }

    .title {
        padding-bottom: 0.5rem;
        font-weight: 700;
        color: rgba($slate, 0.85);
    }

}

.tree-item {
    position: relative;
    margin-left: 5px;

    &:has(~ .tree-item) {
        margin-bottom: 10px;
    }

    // the circle 
    &::before {
        content: '';
        position: absolute;
        top: 0px;
        left: -8.5px;
        width: 22px;
        height: 22px;
        border: 6px solid rgba($slate, 0.75);
        border-radius: 200px;
        background-color: $background;
        transition: all ease 0.3s;
    }

    .background {
        transition: all 0.3s ease;
        border-radius: $small-radius;
        width: 0px; height: 0px;
        position: absolute;
        margin: auto;
        top: 0; left: 0; bottom: 0; right: 0;
        @extend .neo-small-light;
    }

    .date {
        font-style: italic;
    }

    & > .content > * { 
        transition: 0.2s ease;
    }

    &.selected, &:hover {
        .background {
            width: 100% !important;
            height: 100% !important;
            z-index: 1;
        }

        & > .content > *:not(.background) {
            position: relative;
            z-index: 3;
        }
    }

    &.selected {
        &::before {
            background-color: $popsicle;
            border-color: $popsicle;
        }

        .background {
            background-color: rgba($slate, 0.9);
            @extend .neo-small;
        }

        & .content
        {
            p {
                color: white;
            }

            .title {
                color: $popsicle !important;
            }

            .subtitle {
                color: $background-3 !important;
            }

            .date {
                color: $background-3 !important;
            }
        }

        & .skill-pill {
            color: $slate !important;
            font-weight: 500;
            background-color: $background;
        }
    }

    &:not(.selected):hover {
        cursor: pointer;

        &::before {
            border-color: $chopstick
        }

        .background {
            background-color: $background-2;
        }
    }

    .content {
        margin-left: 1.5em;
        position: relative;
        padding: 1.8em;
        transition: all 0.4s;

        .title {
            color: $peach;
            font-weight: 600 !important;
        }

        .subtitle {
            font-weight: 500;
            margin-bottom: 1rem;
        }

        .date {
            font-weight: 500;
        }

        .desc { 
            display: none;
            margin-top: 1em;
         }

        .desc.show {
            display: block;
        }
    }

    .pill-btn {
        padding: 5px 15px;
        border-radius: $small-radius;
        background-color: $chopstick;
        border: 2px solid $chopstick;
        color: $background;
        font-weight: 600;
    
        &:has(~.pill-btn) {
            margin-right: 10px;
        }
    
        &:hover, &:focus, &:active {
            background-color: transparent;
            border: 2px solid $popsicle;
            color: $popsicle;
        }
    }
}

.dark-box {
    border-radius: $small-radius;
    background-color: $slate;
    padding: 3em;
    box-shadow: -20px 20px 0px $peach;

    & * {
        color: $background;
    }
}

.skill-pill {
    padding: 5px 15px;
    background-color: $slate-2;
    border-radius: $small-radius;
    display: inline-flex;
    color: $snow;
    width: fit-content;
    margin-bottom: 10px;
    font-size: 15px;

    &:has(~ .skill-pill) {
        margin-right: 10px;
    }
}