:root {
    $slate: #151E2E;
    $background: #DBD8D5;
    $snow: #EFF2F9;
    $concrete: #7A8290;
    // $sand: #F6A762;
    $gold: #C6A652;
    $pollen: #DFA9A9;
    $popsicle: #FF8A00;
    $chopstick: #9A3B3B;
    $shadow: #BAB8B5;
    /*-------------------------*/
    $radius: 60px;
    $round: 200px;
}