$slate: #151E2E;
$charcoal: #29313f;
$background: #DBD8D5;
$background2: #cfcecb;
$snow: #EFF2F9;
$concrete: #7A8290;
// $sand: #F6A762;
$gold: #C6A652;
$pollen: #DFA9A9;
$popsicle: #FF8A00;
$chopstick: #9A3B3B;
$shadow: #BAB8B5;
/*-------------------------*/
$radius: 60px;
$round: 200px;

/**
* global styles
*/

body {
    font-family: 'Quicksand', sans-serif;
    background-color: $background;
    color: $slate !important;
    overflow-x: hidden;
}

.padbig {
    display: flex;
    align-items: center;
    padding-top: 18vh;
 }

 .margbig {
    display: flex;
    align-items: center;
    margin-top: 18vh;
 }

 .padsmall {
    min-height: 70vh;
    display: flex;
    align-items: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
 }
 
 h1 {
     font-weight: 500 !important;
 }
 
 a {
     text-decoration: none;
 }
 
 .title {
     font-family: 'Poppins', serif;
     line-height: 0.9;
     padding-bottom: 1rem;
     color: $chopstick; 
     font-weight: 600 !important;
 
     span {
         line-height: 1.3;
     }
 }

.btn{ z-index: 9999};

.big-btn {
    pointer-events: all;
    display: block;
    width: fit-content;
    --bs-btn-border-radius: 30px;
    padding: 6px 15px;
    background-color: $chopstick;
    color: $snow;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    border: 3px solid transparent;
    box-shadow: 0px 2px 2px rgba($slate, 0.3);
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;

    &:hover, &:focus, &:active {
        border-color: $popsicle;
        background: none;
        background-color: $background;
        color: $popsicle;
        transform: translateY(-5px);
        box-shadow: 0px 5px 5px rgba($slate, 0.3);
    }
}

.neo {
    box-shadow: 20px 20px 60px $shadow, -20px -20px 60px #FCF8F5;
}

.neo-small {
    box-shadow: 5px 5px 10px $shadow, -5px -5px 10px #FCF8F5;
}

.neo-small-inset {
    box-shadow: inset 5px 5px 10px $shadow, inset -5px -5px 10px #FCF8F5;
}

.gold-border {
    border: 3px solid $popsicle;
}

/**
* colors
*/
.popsicle {
    color: $popsicle;
}

/*
laptop screens
*/
@media (min-width: 1200px) and (max-width: 1600px) {
    .cover {
        left: -105px !important;
    }

    .container {
        width: 1200px;
    }
}

/*
Ipad horizontals
*/
@media (max-width: 1024px) {

}

/*
mobile
*/
@media (max-width: 480px) {
    .cover {
        top: -70px !important;
        left: -50px !important;
    }
}