$slate: #151E2E;
$slate-2: #27303C;
$light-slate: #393F49;
$background: #DBD8D5;
$background-2: #D9D1C9;
$background-3: #C9C4C0;
$snow: #EFF2F9;
$concrete: #7A8290;
$light-concrete: #8C9099;
$gold: #C6A652;
$pollen: #DFA9A9;
$popsicle: #D6682E;
$peach: #C08261;
$chopstick: #9A3B3B;
$shadow: #BAB8B5;
/*-------------------------*/
$small-radius: 20px;
$large-radius: 30px;
$round: 200px;

/**
* global styles
*/
@font-face {
    font-family: Satoshi;
    src: url(assets/font/Satoshi-Black.otf) format("opentype");
    font-weight: 700;
}
@font-face {
    font-family: Satoshi;
    src: url(assets/font/Satoshi-Bold.otf) format("opentype");
    font-weight: 600;
}
@font-face {
    font-family: Satoshi;
    src: url(assets/font/Satoshi-Medium.otf) format("opentype");
    font-weight: 500;
}
@font-face {
    font-family: Satoshi;
    src: url(assets/font/Satoshi-Regular.otf) format("opentype");
    font-weight: 400;
}
@font-face {
    font-family: Satoshi;
    src: url(assets/font/Satoshi-Light.otf) format("opentype");
    font-weight: 300;
}

#home, #about, #artworks, #proficiencies, #programming, #work {
    scroll-snap-align: start;
    scroll-snap-type: y mandatory;
}

body {
    font-family: 'Satoshi', sans-serif;
    background-color: $background;
    color: $light-slate !important;
    font-weight: 300;
    overflow-x: hidden;
}

.padbig {
    display: flex;
    align-items: center;
    padding-top: 20vh;
 }

 .padbig-bottom {
    padding-bottom: 20vh;
 }

 .margbig {
    display: flex;
    align-items: center;
    margin-top: 20vh;
 }

 .padsmall {
    min-height: 70vh;
    display: flex;
    align-items: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
 }
 
 h1 {
     font-weight: 500 !important;
 }

 h6 {
    font-size: 18px;
 }
 
 a {
     text-decoration: none;
 }

 hr {
    opacity: 1;
 }
 
 .title {
     line-height: 0.9;
     padding-bottom: 1rem;
     color: $popsicle; 
     font-weight: 700 !important;
 
     span {
         line-height: 1.3;
     }
 }

.btn{ z-index: 9999};

.big-btn {
    pointer-events: all;
    display: block;
    width: fit-content;
    --bs-btn-border-radius: 30px;
    padding: 6px 15px;
    background-color: $chopstick;
    color: $snow;
    font-weight: 600;
    border: 3px solid transparent;
    box-shadow: 0px 2px 2px rgba($slate, 0.3);
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;

    &:hover, &:focus, &:active {
        border-color: $popsicle;
        background: none;
        background-color: $background;
        color: $popsicle;
        transform: translateY(-5px);
        box-shadow: 0px 5px 5px rgba($slate, 0.3);
    }
}

.neo {
    box-shadow: 20px 20px 60px $shadow, -20px -20px 60px #FCF8F5;
}

.neo-small-light {
    box-shadow: 5px 5px 10px $shadow, -5px -5px 10px #F1EDE9;
}

.neo-small {
    box-shadow: 5px 5px 10px $shadow, -5px -5px 10px #FCF8F5;
}

.neo-small-inset {
    box-shadow: inset 5px 5px 10px $shadow, inset -5px -5px 10px #FCF8F5;
}

/**
* colors
*/
.popsicle {
    color: $popsicle;
}

.chopstick {
    color: $chopstick;
}

.peach {
    color: $peach !important;
}

.light-slate {
    color: $light-slate;
}

/*
laptop screens
*/
@media (min-width: 1200px) and (max-width: 1600px) {
    .cover {
        left: -105px !important;
    }

    .container {
        width: 1200px;
    }
}

/*
Ipad horizontals
*/
@media (max-width: 1024px) {

}

@media (max-width: 969px) {
    .padbig {
        padding-top: 10vh;
     }
    
     .margbig {
        margin-top: 10vh;
     }
}

/*
mobile
*/
@media (max-width: 480px) {
    .cover {
        top: -70px !important;
        left: -50px !important;
    }
}